@import "../templates/_colors.scss";
@import "../templates/_variables.scss";

.chatScreen {
    h1 {
        text-align: center;
        color: $text;
    }
    .chatBox {
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 1200px;
        max-width: 95%;
        margin: auto;
        min-height: 500px;
        height: calc(100vh - 50px);
        box-shadow: $shadow-l;
        border: 1px solid $border;
        color: $text;
        .chatList {
            background-color: $primary;
            justify-self: right;
            width: 100%;
            border-bottom: 1px solid $border;
            .search {
                @include flexB(row);
                input {
                    @include textField;
                    width: 100%;
                    height: 50px;
                    font-size: 15px;
                    margin: 0px;
                }
                svg {
                    display: none;
                }
            }
            ul {
                min-height: 450px;
                height: calc(100vh - 115px);
                overflow-y: auto;
                margin: 0px;
                padding: 0px;
                li {
                    @include flexV(row);
                    display: grid;
                    grid-template-columns: 80px auto;
                    height: 110px;
                    padding: 1rem;
                    border-bottom: 1px solid $border;
                    cursor: pointer;
                    img {
                        @include profilePicture(80px);
                    }
                    .chatName {
                        color: $text;
                        padding: 0px 1rem;
                        width: 100%;
                        overflow: hidden;
                        p {
                            margin: 0.5rem 0px;
                        }
                        .lastText {
                            font-size: 0.9rem;
                            color: grey;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                    &:hover {
                        background-color: $hover;
                        box-shadow: $shadow-s;
                    }
                }
                .noChats {
                    @include flexV(column);
                    a {
                        @include button;
                        width: auto;
                    }
                }
            }
        }
        .chat {
            display: grid;
            grid-template-rows: 50px auto 50px;
            background: transparent;
            border-left: 1px solid $border;
            align-items: stretch;
            height: calc(100vh - 50px);
            .chatProfile {
                @include flexV(row);
                background-color: $secondary;
                height: 50px;
                padding: 0px 0.5rem;
                svg {
                    display: none;
                }
                img {
                    @include profilePicture(40px);
                }
                a {
                    @include link1;
                    font-size: 1.3rem;
                    margin-left: 0.5rem;
                }
            }
            .conversation {
                min-height: 400px;
                height: calc(100vh - 150px);
                padding: 1rem;
                overflow-y: auto;
                .message {
                    color: $text;
                    background: $secondary;
                    padding: 0.8rem;
                    width: fit-content;
                    margin-bottom: 8px;
                    border-radius: 10px;
                    box-shadow: $shadow-s;
                }
                .sentMessage {
                    margin-left: auto;
                }
                .receivedMessage {
                    background: $hover;
                }
            }
            .sendMessage {
                @include flexB(row);
                > * {
                    border: 0px;
                    color: $text;
                }
                input {
                    height: 45px;
                    background: transparent;
                    width: 90%;
                    border-top: 1px solid $border;
                    font-size: 1rem;
                    padding: 0px 0.5rem;
                }
                button {
                    @include button;
                    border-radius: 0px;
                    height: 45px;
                    width: 10%;
                }
            }
        }
        @media (min-width: 0px) and (max-width: 768px) {
            grid-template-columns: 1fr;
            max-width: 100%;
            border-width: 1px 0px;
            .hideChatList {
                display: none;
            }
            .chatList {
                position: absolute;
                z-index: 1;
                border-bottom: 1px solid $border;
                .search {
                    input {
                        width: 90%;
                    }
                    svg {
                        display: block;
                        width: 10%;
                        font-size: 2rem;
                    }
                }
            }
            .chat {
                border: 0px;
                .chatProfile {
                    svg {
                        display: block;
                        font-size: 2rem;
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }
}
