@import "../templates/_colors.scss";
@import "../templates/_variables.scss";

.findPeople {
	h1 {
		text-align: center;
		color: $text;
	}
	form {
		@include flexB(row);
		width: 300px;
		max-width: 90%;
		margin: auto;
		box-shadow: $shadow-s;
		input {
			width: calc(100% - 35px);
			height: 35px;
			background: transparent;
			border: 0px solid $secondary;
			border-bottom-width: 2px;
			padding: 0px 0.5rem;
			color: $text;
		}
		button {
			color: $text;
			height: 35px;
			width: 35px;
			background: $secondary;
			border: 0px;
			font-size: 1rem;
		}
	}
	.error {
		text-align: center;
		color: $text;
		margin: 3rem 0px;
	}
	.results {
		width: 900px;
		max-width: 95%;
		padding: 0px;
		margin: 1.5rem auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1rem;
		li {
			@include flexV(row);
			padding: 1rem;
			color: $text;
			border: 1px solid $secondary;
			box-shadow: $shadow-s;
			img {
				@include profilePicture(100px);
				margin-right: 1rem;
			}
			a {
				@include link1;
			}
			&:hover {
				box-shadow: $shadow-l;
			}
		}
	}
	@media (min-width: 0px) and (max-width: 668px) {
		.results {
			grid-template-columns: 1fr;
		}
	}
}
