@import "../templates/_colors.scss";
@import "../templates/_variables.scss";

.post {
	padding: 1rem;
	.postProfile {
		@include flexV(row);
		img {
			@include profilePicture(50px);
		}
		a {
			@include link1;
			margin-left: 1rem;
		}
	}
	.postMedia {
		width: 100%;
	}
	.postDateTime {
		font-size: 0.7rem;
		margin: 0.3rem 0px;
		text-align: right;
	}
	.postButtons {
		margin: 0.5rem 0px;
		@include flexV(row);
		> * {
			@include flexV(column);
			margin-left: 0.5rem;
			svg {
				font-size: 2rem;
				margin-bottom: 0.5rem;
			}
			p {
				margin: 0px;
				font-size: 1rem;
			}
		}
	}
	.comments {
		margin: 2rem 0px;
		form {
			@include flexB(row);
			textarea {
				@include textField;
				width: 90%;
				height: 35px;
				margin: 0px;
				border-color: $secondary;
			}
			input {
				@include button;
				width: 10%;
				border-radius: 0px;
				height: 35px;
			}
		}
		h5 {
			margin-bottom: 0px;
		}
		ul {
			display: flex;
			flex-direction: column;
			margin: 0.5rem 0px;
			padding: 0px;
			height: auto;
			max-height: 200px;
			overflow-y: auto;
			.comment {
				@include flexV(row);
				a {
					@include link1;
					font-weight: bold;
					margin-right: 0.5rem;	
				}
				strong {
					font-size: 1.1rem;
				}
				p {
					font-size: 1rem;
				}
			}
		}
	}
}
