/* dark mode */

$primary: #1F1B24;
$secondary: #804ac2	;
$text: whitesmoke;

$background: #121212;

$button: #731FDB;
$buttonHover: #C69AFC;

$link: lightseagreen;
$linkHover: #2c96ca;

$error: red;

$border: #4d2f73;

/* light mode */

/* $primary: #EEEEFF;
$secondary: #44aefa;
$text: #141e30;

$background: #fff;

$button: #0088cc;
$buttonHover: #2c96ca;

$link: lightseagreen;
$linkHover: #2c96ca;

$error: red;

$border: #d0f0c0; */