/* dark mode */

$primary: #1F1B24;
$secondary: #804ac2;
$text: whitesmoke;

$background: #121212;

$button: #731FDB;
$buttonHover: #C69AFC;

$link: lightseagreen;
$linkHover: #2c96ca;

$error: red;

$border: #4d2f73;

$hover: rgba(255, 255, 255, 0.1);