$primary: #101826;
$secondary: #44aefa;
$text: whitesmoke;

$background: #141e30;

$button: #0088cc;
$buttonHover: #2c96ca;

$link: lightseagreen;
$linkHover: royalblue;

$error: red;

$border: #243b55;
