@import "_colors";

$shadow-l: 5px 5px 10px black;
$shadow-s: 2px 2px 3px black;
@mixin button {
    height: 35px;
    width: 120px;
    max-width: 90%;
    background: $button;
    color: $text;
    font-weight: normal;
    outline: none;
    border: none;
    font-size: 1rem;
    border-radius: 9999px;
    padding: 0.5rem 0.5rem;
    transition: 0.1s all ease;
    text-decoration: none;
    box-shadow: $shadow-s;
    &:hover {
        background: $buttonHover;
    }
}
@mixin textField {
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 1rem;
    color: $text;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid $text;
    padding: 0px 5px;
    &:focus {
        color: $secondary;
        border-color: $secondary;
    }
}
@mixin link1 {
    color: $text;
    text-decoration: none;
    font-weight: 300;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-weight: normal;
    &:hover {
        color: $buttonHover;
    }
}
@mixin link2 {
    color: $text;
    font-size: 0.9rem;
    cursor: pointer;
    &:hover {
        color: $link;
    }
}
@mixin formBorder {
    border: 2px solid $secondary;
    border-radius: 2rem 0px 2rem 0px;
}
@mixin flexB($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}
@mixin flexH($direction) {
    display: flex;
    justify-content: center;
    flex-direction: $direction;
}
@mixin flexV($direction) {
    display: flex;
    align-items: center;
    flex-direction: $direction;
}
@mixin profilePicture($size) {
    border: 1px solid $text;
    width: $size;
    height: $size;
    object-fit: cover;
    border-radius: 50%;
}