@import "../templates/_variables.scss";
@import "../templates/_colors.scss";

@mixin labels {
    color: $text;
    font-size: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background: $primary;
    border: 1px solid $border;
    margin: 2rem;
    width: 80vw;

    & .card_cover {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        width: 100%;

        & .headings {
            place-items: center start;
            a {
                margin-left: 2rem;
                font-size: 1rem;
                background: $button;
                border: none;
                outline: none;
                font-weight: bold;
                border-radius: 3rem;
                padding: 0.7rem;

                &:hover {
                    background: $text;
                    color: $button;
                    transition: all 0.3s ease-in-out;
                }
            }
        }

        & .labels {
            place-items: center;
            @include labels;

            & .fas {
                filter: opacity(60%);
            }
        }
    }

    & .card_content {
        flex: 1;
        padding: 1rem;
    }
}
@media (min-width: 297px) and (max-width: 667px) {
    .card_cover {
        & .labels {
            gap: 1.3rem;
        }
    }
}
