@import "../templates/_variables.scss";
@import "../templates/_colors.scss";

@mixin labels {
    color: $text;
    font-size: 1rem;
}

.internship {
    h1 {
        text-align: center;
        color: $text;
    }
    .internshipInfo {
        background: $primary;
        border: 1px solid $border;
        width: 1000px;
        max-width: 95%;
        margin: auto;
        padding: 1rem;
        .icons {
            @include flexH(column);
            svg {
                color: $secondary;
                margin-right: 0.5rem;
            }
            p {
                color: $text;
            }
        }
        .description {
            color: $text;
        }
        .applicationForm {
            @include flexB(column);
            width: 400px;
            max-width: 95%;
            h3 {
                color: $text;
            }
            textarea {
                @include textField;
                height: 150px;
                width: 90%;
            }
            button {
                @include button;
            }
        }
        > a {
            @include link2;
            display: block;
            text-align: center;
            text-decoration: underline;
            font-size: 1.5rem;
            align-self: center;
        }
    }
}
