@import "../templates/_variables.scss";
@import "../templates/_colors.scss";

.searchInternships {
    h1 {
        color: $text;
        text-align: center;
        margin-bottom: 3rem;
    }
    .internships {
        @include flexH(row);
        flex-direction: row;
        width: 95%;
        margin: auto;
        column-gap: 3rem;
        .filters {
            @include flexH(column);
            justify-content: left;
            gap: 0.7rem;
            background: $primary;
            min-width: 20vw;
            padding: 2rem;
            box-shadow: $shadow-s;
            border: 1px solid $border;
            h2 {
                color: $text;
                margin: 0px;
            }
            h4 {
                color: $secondary;
            }
            section {
                input {
                    width: 100%;
                }
                .dropdown {
                    font-size: inherit;
                    @include textField;
                }
                p {
                    color: $text;
                }
            }
            .applyFilters {
                @include button;
                margin: 0.5rem 0.5rem 0.5rem 0px;
                width: 100px;
            }
        }
        .internshipResults {
            @include flexV(column);
            justify-content: flex-start;
            flex: 1;
            .searchBar {
                @include flexB(row);
                border: 1px solid $border;
                box-shadow: $shadow-s;
                padding: 0.5rem;
                width: 600px;
                max-width: 80%;
                input {
                    width: 100%;
                    height: 2rem;
                    border: 0px;
                    color: $text;
                    background: transparent;
                    font-size: 1.1rem;
                    padding: 0.5rem;
                }
                svg {
                    @include link1;
                    margin: 0px 1rem;
                    font-size: 1.5rem;
                }
            }
            .internshipList {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 0px;
                margin: 1rem 0px;
                width: 100%;
                grid-gap: 1.5rem;
                li {
                    @include flexH(column);
                    border: 1px solid $border;
                    color: $text;
                    background: $primary;
                    padding: 0.5rem 1rem;
                    box-shadow: $shadow-s;
                    transition: all 0.3s ease;
                    a {
                        @include link2;
                        margin: 0px 0px 0.5rem auto;
                        align-self: flex-end;
                    }
                    &:hover {
                        box-shadow: $shadow-l;
                    }
                }
                .noResults {
                    color: $text;
                    text-align: center;
                    grid-column: 1/3;
                }
            }
        }
        @media (min-width: 0px) and (max-width: 1168px) {
            flex-direction: column;
            .filters {
                border: 0px;
                background: transparent;
                box-shadow: none;
                padding: 0px;
                margin: 1rem auto;
                h2 {
                    color: $text;
                    text-align: center;
                }
                section {
                    width: 300px;
                    max-width: 95%;
                    @include flexV(column);
                    align-items: flex-start;
                }
                .applyFilters {
                    display: block;
                    margin: 2rem auto 0px auto;
                    text-align: center;
                }
            }
        }
        @media (min-width: 0px) and (max-width: 668px) {
            .internshipResults {
                .internshipList {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}
