@import "./templates/_colors.scss";
@import "./templates/_variables.scss";

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    .form {
        padding: 3rem 3rem;
        background: $primary;
        width: 400px;
        max-width: 90%;
        border-radius: 30px 0px 30px 0px;
        border: solid $button;
        text-align: center;
        h2 {
            color: $text;
            font-size: 2rem;
        }
        .dropDown {
            width: 40%;
            margin: auto;
            select {
                option {
                    background: $border;
                    color: $text;
                }
            }
        }

        .labelImage {
            width: 30px;
            height: 30px;
        }

        .field {
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            input,
            select {
                @include textField;
                padding: 0px 5px;
                font-size: 1rem;
                margin: 0px;
                margin-left: 0.8rem;
            }
        }

        .submit input {
            @include button;
            margin-top: 1rem;
        }

        .link {
            margin-top: 1rem;
            text-align: center;
            font-size: 0.9rem;
            a {
                color: $link;
                &:focus {
                    color: $linkHover;
                }
            }
        }

        .inputError {
            text-align: center;
            color: $error;
            margin: 0px;
        }
    }
}