@import "./templates/_colors.scss";
@import "./templates/_variables.scss";

.formContainer {
    @include flexB(row);
    .form {
        padding: 3rem 3rem;
        background: $primary;
        width: 400px;
        max-width: 90%;
        text-align: center;
        @include formBorder;
        h2 {
            color: $text;
            font-size: 2rem;
        }
        .dropDown {
            width: 40%;
            margin: auto;
            select {
                option {
                    background: $border;
                    color: $text;
                }
            }
        }

        .labelImage {
            width: 30px;
            height: 30px;
        }

        .field {
            @include flexV(row);
            margin-bottom: 2rem;
            input,
            select {
                @include textField;
                font-size: 1rem;
                margin: 0px;
                margin-left: 0.8rem;
            }
        }

        .submit input {
            @include button;
            margin-top: 1rem;
        }

        .link {
            margin-top: 1rem;
            text-align: center;
            a {
                @include link2;
            }
        }

        .inputError {
            text-align: center;
            color: $error;
            margin: 0px;
        }
    }
}