@import "./templates/_colors.scss";

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    .form {
        padding: 3rem 3rem;
        background: $primary;
        width: 400px;
        max-width: 90%;
        border-radius: 30px 0px 30px 0px;
        border: solid $border;
        h2 {
            color: $text;
            font-size: 2rem;
            text-align: center;
        }
        .dropDown {
            width: 40%;
            margin: auto;
            select {
                option {
                    background: $border;
                    color: $text;
                }
            }
        }

        .labelImage {
            width: 30px;
            height: 30px;
        }

        .field {
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            input,
            select {
                border: none;
                border-bottom: 1px solid $text;
                padding: 0px 5px;
                background: transparent;
                height: 30px;
                width: 100%;
                outline: none;
                font-size: 1rem;
                color: $secondary;
                margin-left: 0.8rem;
                &:focus {
                    border-bottom: 2px solid $secondary;
                }
            }
        }

        .submit input {
            height: 35px;
            width: 100%;
            margin-top: 1em;
            background: $button;
            color: $text;
            font-weight: bold;
            outline: none;
            border: none;
            font-size: 1rem;
            border-radius: 9999px;
            padding: 0.5rem 0.5rem;
            &:focus {
                background: $buttonHover;
                transition: 0.1s;
            }
        }

        .link {
            margin-top: 1rem;
            text-align: center;
            font-size: 0.9rem;
            a {
                color: $link;
                &:focus {
                    color: $linkHover;
                }
            }
        }

        .inputError {
            text-align: center;
            color: $error;
            margin: 0px;
        }
    }
}
