@import "./templates/_colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap');
* {
    box-sizing: border-box;
    font-family: "Georama", "Segoe UI", "sans-serif";
}
html,
body {
    margin: 0;
    padding: 0px;
    background: $background;
    // background: url('/illustrations/vector.jpg');
    font-size: 16px;
    button,
    input,
    select,
    textarea,
    a {
        outline: none;
    }
    button,
    a,
    input[type="file"],
    input[type="submit"],
    input[type="button"],
    button,
    svg {
        cursor: pointer;
    }
    input[type="button"],
    input[type="submit"],
    a {
        cursor: pointer;
    }
    ul {
        list-style: none;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type="number"] {
        -moz-appearance: textfield;
    }
    .main-container {
        min-height: calc(100vh - 150px);
        max-height: auto;
        margin: 1rem 0px 5rem 0px;
    }
    textarea {
        resize: none;
    }
}
@media (min-width: 668px) and (max-width: 1202px) {
    html {
        font-size: 14px;
    }
}
@media (min-width: 297px) and (max-width: 667px) {
    html {
        font-size: 13px;
    }
}
@media (min-width: 0px) and (max-width: 296px) {
    html {
        font-size: 10px;
    }
}
