@import "./templates/_colors.scss";
@import "./templates/_variables.scss";

.myProfile {
	display: grid;
	color: $text;
	grid-template-columns: 1fr 2fr;
	grid-column-gap: 5rem;
	grid-row-gap: 3rem;
	width: 900px;
	max-width: 95%;
	margin: auto;
	> h1 {
		text-align: center;
		grid-column: 1/3;
	}
	.profileDetails {
		display: flex;
		flex-direction: column;
		justify-self: right;
		> div {
			margin-bottom: 1rem;
		}
		.profilePicture {
			width: 10em;
			height: 11em;
			border-radius: 50%;
			justify-self: right;
			img {
				border: 1px solid $text;
				width: 100%;
				height: 10em;
				object-fit: cover;
				border-radius: 50%;
			}
			input {
				opacity: 0;
				display: block;
				width: 70px;
				height: 35px;
				margin: auto;
				position: relative;
				z-index: 1;
				cursor: pointer;
			}
			.uploadProfilePicture {
				@include flexB(row);
				opacity: 0;
				position: relative;
				top: -35px;
			}
			svg {
				font-size: 2rem;
				cursor: pointer;
			}
			&:hover {
				.uploadProfilePicture {
					opacity: 1;
				}
			}
		}
		.profileMain {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-self: left;
			h1 {
				@include flexV(row);
				svg {
					font-size: 1.8rem;
					margin-left: 0.5rem;
				}
			}
			h1,
			p {
				margin: 1rem 0px 0px 0px;
			}
		}
		.followCount {
			display: flex;
			div {
				display: grid;
				margin-right: 1rem;
				p {
					text-align: center;
					margin: 0.5rem 0px;
				}
			}
		}
		.description {
			font-size: 0.9rem;
			span {
				@include flexV(row);
				color: $secondary;
				svg {
					color: $text;
					visibility: hidden;
					margin-left: 0.5rem;
					&:hover {
						color: $secondary;
					}
				}
				form {
					@include flexB(column);
					> * {
						margin-bottom: 1rem;
					}
					h3 {
						color: $text;
					}
					textarea {
						@include textField;
						height: 75px;
					}
					input[type='button'] {
						@include button;
					}
				}
				&:hover {
					svg {
						visibility: visible;
					}
				}
			}
		}
		a {
			@include link1;
		}
	}
	.profileInfo {
		display: flex;
		flex-direction: column;
		border: 1px solid $border;
		box-shadow: $shadow-l;
		h3 {
			text-transform: uppercase;
		}
		> div {
			padding: 1rem;
			display: flex;
			flex-direction: column;
			justify-items: flex-end;
			border-bottom: 1px solid $border;
		}
		.projects,
		.skills {
			ul {
				margin: 0px 0px 1rem 0px;
				padding-left: 1.5rem;
				li {
					list-style-type: disc;
					h4 {
						@include flexV(row);
						> * {
							visibility: hidden;
							margin-left: 0.5rem;
							&:hover {
								color: $secondary;
							}
						}
						&:hover {
							> * {
								visibility: visible;
							}
						}
					}
					p,
					a {
						font-size: 0.9rem;
					}
					a {
						color: $text;
						&:hover {
							color: $link;
						}
					}
				}
			}
			button {
				background: transparent;
				border: 0px;
				color: $secondary;
				font-size: 1.5rem;
				transition: all 0.3s ease;
				&:hover {
					transform: scale(1.3);
				}
			}
			.seeMore {
				@include link1;
			}
			.projectForm,
			.skillsForm {
				width: 100%;
				text-align: center;
				h1 {
					margin: 0px 0px 1rem 0px;
				}
				input[type="text"],
				textarea {
					@include textField;
				}
				textarea {
					resize: none;
					height: 100px;
				}
				input[type="submit"] {
					@include button;
					width: 90px;
				}
			}
		}
		.resume {
			a {
				@include link2;
				margin-bottom: 1rem;
			}
			input[type="file"]::file-selector-button {
				@include button;
				width: 130px;
			}
		}
	}
	@media (min-width: 0px) and (max-width: 568px) {
		grid-template-columns: 1fr;
		grid-column-gap: 0px;
		.profileDetails, .profileInfo {
			justify-self: center;
			grid-column: 1/3;
		}
		.profileDetails {
			@include flexB(column);
			.profileMain {
				@include flexB(column);
			}
		}
		.profileInfo {
			width: 100%;
		}
	}
}
.collegeCompanyProfile {
	grid-template-columns: 1fr;
	grid-column-gap: 0px;
	h1 {

		grid-column: 1/2;
	}
	.profileDetails {
		width: auto;
		max-width: 95%;
		justify-self: center;
		align-items: center;
		grid-column: 1/2;
		.profileMain {
			align-items: center;
		}
		.description {
			span {
				@include flexB(row);
			}
		}
	}
	.profileInfo {
		display: none;
		grid-column: 1/2;
	}
}