@import "./templates/_colors.scss";
@import "./templates/_variables.scss";

.popupContainer {
	.showPopup {
		color: $text;
		background: transparent;
		border: 0px;
		font-size: 1rem;
	}
	.popup {
		background: $background;
		min-width: 300px;
		max-width: 90%;
		max-height: 90vh;
		overflow-y: auto;
		position: fixed;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		padding: 2rem;
		@include formBorder;
		.closeButton {
			text-align: right;
			button {
				background: transparent;
				border: 0px;
				color: $secondary;
				padding: 0px;
				transition: all 0.3s ease;
				&:hover {
					transform: scale(1.3);
				}
			}
		}
		section {
			@include flexB(row);
		}
	}
}
