@import './templates/_colors.scss';
@import './templates/_variables.scss';

.timeline {
	color: $text;
	h1 {
		text-align: center;
	}
	.posts {
		@include flexH(column);
		width: 600px;
		max-width: 95%;
		margin: auto;
		padding: 0px;
		border: 1px solid $border;
		box-shadow: $shadow-l;
		> * {
			border-bottom: 1px solid $border;
		}
		> * &:last-child {
			border: 0px;
		}
		li {
			padding: 1rem;
			.postProfile {
				@include flexV(row);
				img {
					border: 1px solid $text;
					width: 50px;
					height: 50px;
					object-fit: cover;
					border-radius: 50%;
				}
				p {
					margin-left: 1rem;
				}
			}
			.postContent {

			}
			.postMedia {
				width: 100%;
			}
			.postButtons {
				font-size: 2rem;
				margin: 0.5rem 0px;
				> * {
					margin-right: 0.5rem;
				}
			}
		}
	}
}