@import './templates/_colors.scss';
@import './templates/_variables.scss';

.timeline {
	color: $text;
	h1 {
		text-align: center;
	}
	.posts {
		@include flexH(column);
		width: 600px;
		max-width: 95%;
		margin: auto;
		padding: 0px;
		border: 1px solid $border;
		box-shadow: $shadow-l;
		> * {
			border-bottom: 1px solid $border;
		}
		> * &:last-child {
			border: 0px;
		}
		.emptyTimeline {
			border: 0px;
			text-align: center;
			height: 100px;
			a {
				@include button;
			}
		}
	}
}